<p style="color: green"><%= notice %></p>

<%= render @mod %>

<div>
  <%= link_to "Edit this mod", edit_mod_path(@mod) %> |
  <%= link_to "Back to mods", mods_path %>

  <%= button_to "Destroy this mod", @mod, method: :delete %>
</div>
